.navbar
    position: fixed
    width: 100%
    height: 55px
    top: 0
    background: #dbdde9

.navbar-menu, .navbar, .navbar-divider, .navbar-dropdown, .TnzvNalOP
    background: #dbdde9

.menu-button-filled-tQn
    background: #925adb
    color: #ffffff
    border: 0
    font-weight: 500

.menu-button-filled-tQn:hover
    color: #eaebf1

.TnzvNalOP, .navbar-dropdown
    color: #4b4b4b

a.navbar-item:hover
    color: #7b29e7
    background: #d4d6e2

.navbar-item i
    margin-top: -7px
    margin-left: 5px

@media (min-width: 1024px)
    .navbar-end
        position: absolute
        float: right
        right: 0
