@import './components/loading'
@import './components/menu'

@import './pages/signup'
@import './pages/signin'
@import './pages/sign'

@import './pages/home'

@import './pages/dashboard'


@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Baloo+2&family=Catamaran&display=swap');
html, body
    max-width: 100%
    max-height: 100%
    width: 100%
    height: 100%
    padding: 0
    margin: 0
    background-color: #ffffff
    font-family: 'Baloo 2', cursive
    
h1, h2, h3, h4, h5, h6, p, span
    color: #424242

input:focus, select:focus, textarea:focus, button:focus
    outline: none